@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');



.hovered {
    cursor: pointer;
}

.hovered:hover {
  filter: brightness(0);
}

.active {
    border: 2px solid #e77600;
}

.img_wrap {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.left {
    display: flex;
    height: 50vh;
}
.left_1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.img_wrap {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    cursor: pointer;
}
.img_wrap img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.left_2 img {
    width: 500px;
    height: 100%;
    object-fit: contain;
}
.active {
    border: 2px solid #e77600;
}